OrderServices/.vs/OrderServices/v16/.suo
OrderServices/.vs/
OrderServices/OrderServices/obj/Debug
OrderServices/OrderServices/.vs/
OrderServices/packages
OrderServices/OrderServices/bin
OrderServices/OrderServices.Tests/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
.vs/DanyOrderService\v17/VSWorkspaceState.json
OrderServices/OrderServices.Tests\.vs/OrderServices.Tests/slnx.sqlite
OrderServices/OrderServices.Tests\.vs/OrderServices.Tests/VSWorkspaceState.json
/.vs
OrderServices/OrderServices.Tests/.vs 
